# python
*__pycache__/
*.py[cod]
*pytest_cache*
.venv

Janus-dockers
*.env*
!.env.example

logs
*.log
*.csv
*.session.sql
*.txt
.claude
.vscode

*debug*
*draft*

web/scripts
*crontab.txt
web/scripts

*notifier.py

.DS_Store
*run*.sh

.pre-commit-cache
.coverage
